<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="./css/login-css.css" rel="stylesheet">

<title>Login</title>

<div class="wrapper fadeInDown">
    <div id="formContent">
    <!-- Tabs Titles -->
      
    <!-- Icon -->
    <div class="fadeIn first">
      <!--img src="https://www.b-cube.in/wp-content/uploads/2014/05/aditya-300x177.jpg" id="icon" alt="User Icon" /-->
      <h1>COVID-19 Tracking</h1>
      <h1>Data Maintenance Web</h1>
    </div>
    
    <!-- Login Form -->
    <form method="POST" action="/">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <% if(alert != ""){ %>
        <div class="alert alert-danger fadeIn second" role="alert" style="margin: 5px 35px 10px 35px;">
          <%= alert %>
        </div>
      <% } %>
      <input type="submit" class="fadeIn fourth" value="Log In" id="login">
    </form>
  
    <!-- Go to phpMyAdmin -->
    <div id="formFooter">
    </div>
  </div>
</div>